/* Fonts */

/*
    Deja Vu Serif
    Copyright (c) 2003 by Bitstream, Inc. All Rights Reserved.
    Bitstream Vera is a trademark of Bitstream, Inc.
    Copyright (c) 2006 by Tavmjong Bah. All Rights Reserved.
*/

@font-face {
    font-family: 'DejaVuSerifBook';
    src: url('/fonts/deja_vu/DejaVuSerif-webfont.eot');
    src: local('â˜º'), url('/fonts/deja_vu/DejaVuSerif-webfont.woff') format('woff'), url('./fonts/deja_vu/DejaVuSerif-webfont.ttf') format('truetype'), url('/fonts/deja_vu/DejaVuSerif-webfont.svg#webfontCFu7RF0I') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSerifItalic';
    src: url('/fonts/deja_vu/DejaVuSerif-Italic-webfont.eot');
    src: local('â˜º'), url('/fonts/deja_vu/DejaVuSerif-Italic-webfont.woff') format('woff'), url('./fonts/deja_vu/DejaVuSerif-Italic-webfont.ttf') format('truetype'), url('/fonts/deja_vu/DejaVuSerif-Italic-webfont.svg#webfontaLa5SnEz') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSerifBold';
    src: url('/fonts/deja_vu/DejaVuSerif-Bold-webfont.eot');
    src: local('â˜º'), url('/fonts/deja_vu/DejaVuSerif-Bold-webfont.woff') format('woff'), url('/fonts/deja_vu/DejaVuSerif-Bold-webfont.ttf') format('truetype'), url('/fonts/deja_vu/DejaVuSerif-Bold-webfont.svg#webfontghjTfi8K') format('svg');
    font-weight: normal;
    font-style: normal;
}

h3.dejavu {
    font-family:"DejaVuSerifBook";
}

p.dejavu {
    font-family:"DejaVuSerifBook";
    font-size:13px;
    line-height:21px;
}

.dejavuitalic {
    font-family:"DejaVuSerifItalic";
    font-style:normal;
}

.dejavubold {
    font-family:"DejaVuSerifBold";
    font-weight:normal;
}

/*
    Bitstream Vera Sans
    Copyright (c) 2003 by Bitstream, Inc. All Rights Reserved.
    Bitstream Vera is a trademark of Bitstream, Inc.
*/

@font-face {
    font-family: 'BitstreamVeraSansRoman';
    src: url('/fonts/vera_sans/Vera-webfont.eot');
    src: local('â˜º'), url('/fonts/vera_sans/Vera-webfont.woff') format('woff'), url('/fonts/vera_sans/Vera-webfont.ttf') format('truetype'), url('./fonts/vera_sans/Vera-webfont.svg#webfontHBSQ3oqr') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BitstreamVeraSansOblique';
    src: url('/fonts/vera_sans/Vera-Italic-webfont.eot');
    src: local('â˜º'), url('/fonts/vera_sans/Vera-Italic-webfont.woff') format('woff'), url('./fonts/vera_sans/Vera-Italic-webfont.ttf') format('truetype'), url('/fonts/vera_sans/Vera-Italic-webfont.svg#webfontWP43HMd4') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BitstreamVeraSansBold';
    src: url('/fonts/vera_sans/Vera-Bold-webfont.eot');
    src: local('â˜º'), url('/fonts/vera_sans/Vera-Bold-webfont.woff') format('woff'), url('/fonts/vera_sans/Vera-Bold-webfont.ttf') format('truetype'), url('./fonts/vera_sans/Vera-Bold-webfont.svg#webfontUJ0ocPd0') format('svg');
    font-weight: normal;
    font-style: normal;
}

h3.verasans {
    font-family:"BitstreamVeraSansRoman";
}

p.verasans {
    font-family:"BitstreamVeraSansRoman";
    font-size:13px;
    line-height:21px;
}

.verasansitalic {
    font-family:"BitstreamVeraSansOblique";
    font-style:normal;
}

.verasansbold {
    font-family:"BitstreamVeraSansBold";
    font-weight:normal;
}


/* General */

.reveal {
  font-family: "BitstreamVeraSansRoman", Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: -0.02em;
}


/* Images */

.reveal section img {
    border: 0;
    box-shadow: none;
    background: none;
}


/* Color */

#megbraadnl-container {
    margin: 10px auto;
    margin-top: 10em;
    position: relative;
    text-align: center;
}

.megbraadnl {
    font-size: 12em;
}

.blue {
    color: rgb(0, 112, 224);
}

.lightblue {
    color: rgb(15, 147, 249);
}

.white {
    color: white;
}

.black {
    color: black;
}

.orange {
    color: rgb(255, 140, 0);
}

.lightgreen {
    color: rgb(70, 255, 0);
}

.yellow {
    color: rgb(255, 255, 0);
}

.red {
    color: rgb(255, 0, 0);
}

.byline {
    color: silver;
}

.center {
    display: block;
    text-align: center;
}

.italic {
    font-style: italic !important;
}

.fill {
    width: 100%;
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 0);
  text-shadow: none;
}